apiVersion: v1
kind: Service
metadata:
  name: nginx-proxy-svc
  namespace: web-proxy
  labels:
    app: frontend-proxy
spec:
  type: NodePort
  
  selector:
    # Deployment의 라벨과 정확히 일치해야 연결됩니다.
    app: frontend-proxy 

  ports:
    - name: http
      protocol: TCP
      port: 80        # 외부에서 접속할 포트 (브라우저 기본 포트)
      targetPort: 80  # 컨테이너 내부 포트 (Nginx가 리스닝하는 포트)
